*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    font-weight: 400;
}

.hero_section{
    background-image: url(images/developer.png);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container_text{
    color: white;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 64px;
    padding-left: 16px;
}

.container span{
    font-size: 2rem;
    text-transform: none;
}

.work_slogun{
    height: 200px;
    background-color: black;
    color: whitesmoke;
}

.slogun_text{
    font-size: 2.5rem;
    padding: 35px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 100;
}

.slogun_text span{
    font-size: 5.5rem;
    color: white;
    font-weight: 800;
}